<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>{{result.geonames[0].countryName}}</h3>
        <div class="col-md-6 text-right"><strong>Population of Country</strong></div>
        <div class="col-md-6">{{result.geonames[0].population}}</div>
        <div class="col-md-6 text-right"><strong>Area</strong></div>
        <div class="col-md-6">{{result.geonames[0].areaInSqKm}} square km </div>
        <div class="col-md-6 text-right"><strong>Capital</strong></div>
        <div class="col-md-6">{{result.geonames[0].capital}}</div>
        <div class="col-md-6 text-right"><strong>Population of capital</strong></div>
        <div class="col-md-6">{{capResult.geonames[0].population}}</div>
        <div class="col-md-6 text-right"><strong>3 neighbors</strong></div>
        <div class="col-md-6">{{result.geonames[0].areaInSqKm}}</div>
    </div>
    <div class="3"></div>
</div>
