
<div class="row" ng-controller="HomeCtrl">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p>
            Ex meditation Godard food truck messenger bag, Carles aute irony typewriter normcore ea +1 cred cliche ullamco. Salvia non try-hard, deserunt fixie cray labore laboris sapiente nisi ea eiusmod Wes Anderson twee. Vinyl retro hella PBR et artisan. Brooklyn assumenda do gentrify pop-up voluptate, you probably haven't heard of them Godard Austin sapiente irony organic. Fanny pack Intelligentsia vegan, authentic butcher normcore beard et. Gluten-free crucifix farm-to-table gentrify dolor cold-pressed, High Life literally messenger bag street art locavore lomo. Plaid YOLO velit, labore blog direct trade occaecat eiusmod you probably haven't heard of them exercitation.
            Crucifix nulla Tumblr ad farm-to-table tattooed, cred PBR Pinterest proident aliqua letterpress. Irony butcher dolor actually. Bitters hoodie et, Banksy Portland pug cred assumenda minim consectetur nisi non do narwhal. Pickled eiusmod next level, post-ironic ex aute sint narwhal mollit aliqua. Tumblr pickled chia aliqua, biodiesel ethical qui wayfarers pour-over aesthetic actually dolore veniam. Locavore High Life bitters, distillery selvage pariatur pickled art party pop-up paleo blog Marfa squid. American Apparel Tonx synth actually assumenda master cleanse.
        </p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-12 text-center">
        <a class="btn btn-primary" href="#/countries">Browse Countries</a>
    </div>
</div>